In [9]:
import pandas as pd

importamos nuestra libreria pandas para que podamos
ver nuestros dataframes
le damos los valores en las columnas y los visualizaremos
respecto al orden

creamos nuestra lista

In [4]:
fb = ['Facebook', 988833, True]
twt = ['Twitter', 857575, False]
ig = ['Instagram', 757575, True]
wsp = ['Whatsapp', 22828828, True]
tel = ['Telegram', 292992, False]
lkn = ['Linkdin', 47477277, False]

In [5]:
listado_rrss=[fb,twt,ig,wsp,tel,lkn]

In [6]:
listado_rrss

[['Facebook', 988833, True],
 ['Twitter', 857575, False],
 ['Instagram', 757575, True],
 ['Whatsapp', 22828828, True],
 ['Telegram', 292992, False],
 ['Linkdin', 47477277, False]]

In [11]:
pd.DataFrame(listado_rrss, columns=['aplicacion', 'cantidad', 'pertecene a fb'])

  aplicacion  cantidad  pertecene a fb
0   Facebook    988833            True
1    Twitter    857575           False
2  Instagram    757575            True
3   Whatsapp  22828828            True
4   Telegram    292992           False
5    Linkdin  47477277           False